@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&family=Quicksand:wght@300..700&display=swap');

:root{
    --color-white: #ffffff;
    --color-light: #f1f5f9;
    --color-black: #121212;
    --color-night: #02598b;

    --color-red: #ff0a0a;
    --color-blue: #1a73e8;
    --color-gray: #80868b;
    --color-grayish: #dadce0;

    --shadow-normal: 0 1px 3px 0 rgba(0 , 0, 0, 0.1),
                     0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                     0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(141,135,255,1) 50%, rgba(255,0,0,1) 100%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    min-height: 100vh;
    width: 100%;
    padding: 0 0.5rem;
    margin: 0 auto;
}

.wrapper{
    overflow-x: auto;
    max-width: 60rem;
    width: 600px;
    margin: 2rem auto;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    color: var(--color-black);
    background: var(--color-white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* Para posicionamento do toggle */
}

.description{
    text-align: center;
}

.person{
    color: var(--color-blue);
}

.person:hover{
    text-decoration: underline;
}

.person:active{
    color:#0d4081;
}

.person:visited{
    color: #1a73e8;
}

.text{
    font-family: inherit;
    line-height: inherit;
    text-transform: unset;
}

.text-large{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-black);
    margin-bottom: 10px;
}

.text-normal{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: 20px;
}

.text-links{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-blue);
    text-decoration: none;
}
.text-links:hover{
    text-decoration: underline;
}

.form{
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.form input{
    font-size: 20px;
}

.form input::placeholder{
    font-style: italic;
}

.input-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.input-field{
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    width: 100%;
    height: 65px;
    padding: 0.75rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: var(--color-black);
    background: var(--color-light);
    text-transform: unset;
}

.input-field:focus{
    border: 2px solid black;
}

.input-submit{
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
    min-width: 40%;
    height: auto;
    padding: 0.65rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: var(--color-white);
    background: var(--color-blue);
    box-shadow: var(--shadow-medium);
    text-transform: capitalize;
}

.input-submit:hover{
    background: #1250a1;
}

.input-reset{
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
    min-width: 40%;
    height: auto;
    padding: 0.65rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: var(--color-white);
    background: var(--color-red);
    box-shadow: var(--shadow-medium);
    text-transform: capitalize;
}

.input-reset:hover{
    background: #b80808;
}

.title{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0;
}

.result{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: rgb(137, 137, 137);
    margin-bottom: 10px;
}

table{
    margin: auto;
    display: block;
    width: max-content;
    border-collapse: collapse;
}

td, th{
    border: 1.5px solid rgba(0, 0, 0, 0.459);
    padding: 2px 3px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    width: 95px;
}

.no-border{
    border: none;
}

.erro{
    background: #c22727;
    color: white;
    padding: 10px;
}

/* Configuração para outras medias   192.168.10.1*/

/* 
    • Para telas pequenas: até 600px
    • Para celulares: 600px - 768px
    • Para tablets e iPad: 768px - 992px
    • Para laptops e desktop: 992px - 1200px
    • Para Grandes telas: 1200px e mais
*/

@media screen and (min-width: 768px){
    .wrapper{
        width: 850px;
    }

    td, th{
        font-size: 20px;
        height: 60px;
        width: 200px;
    }

    img{
        width: 120px;
    }
}



/*------------ Modo Escuro------------------*/
body.dark-mode {
    --color-white: #ffffff;
    --color-light: #121212;
    --color-black: #ffffff;
    --color-night: #1d51c2;

    --color-red: #ff0a0a;
    --color-blue: #1a73e8;
    --color-gray: #80868b;
    --color-grayish: #112040;

    --shadow-normal: 0 1px 3px 0 rgba(255, 255, 255, 0.1),
        0 1px 2px 0 rgba(255, 255, 255, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
        0 2px 4px -1px rgba(255, 255, 255, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
        0 4px 6px -2px rgba(255, 255, 255, 0.05);

    background: rgb(139,139,139);
    background: linear-gradient(135deg, rgb(105, 105, 105) 0%, rgb(68, 66, 123) 50%, rgb(133, 0, 0) 100%);
}

body.dark-mode .wrapper {
    color: var(--color-white);
    background-color: #071115;   
}

body.dark-mode .input-field:focus{
    border: 2px solid rgb(255, 255, 255);
    color: var(--color-black);
}

body.dark-mode .form input{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

body.dark-mode .form input::placeholder {
    color: white;
}

body.dark-mode .form input{
    background-color: #122c36;
}

body.dark-mode .input-submit {
    background: var(--color-night);
    box-shadow: none;
}

body.dark-mode .input-submit:hover{
    background-color: #163c8e;
    transition: 0.3s;
}

body.dark-mode .input-reset {
    background: var(--color-red);
    box-shadow: none;
}

body.dark-mode .input-reset:hover{
    background-color: #a40707;
    transition: 0.3s;
}

body.dark-mode .title{
    color: rgb(255, 255, 255);
}

body.dark-mode .result{
    color: rgb(206, 205, 205);
}

body.dark-mode td{
    border: 1.5px solid white;
    color: white;
}

body.dark-mode th{
    border: 1.5px solid white;
    color: white;
}

body.dark-mode .no-border{
    border: none;
}

body.dark-mode .erro {
    background: #c51515;
    color: var(--color-black);
}

/* Toggle Dark Mode Button */
.toggle-dark-mode {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 24px;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.5s;
}

body.dark-mode .toggle-dark-mode {
    background: white;
}

body.dark-mode .toggle-dark-mode::after {
    transform: translateY(10px);
}
